.App {
  float: left;
  text-align: center;
  width: 100%;
  min-height: 90vh;
  padding: 5vh 0;
}

.App h1 {
  margin: 0 0 30px 0;
  font-size: 50px;
}

.App .buttons {
  float: left;
  width: 150px;
	min-height: 40px;
}

.App button {
  width: 100%;
	height: 40px;
  background-color: #3b5360;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  margin: 15px 15px 0 0;
}

.App button:hover{
  background-color: #648292;
}

.App .response, .App textarea {
  float: left;
  padding: 30px;
  margin: 0 30px;
  width: calc(50% - 195px);
  height: calc(70vh - 60px);
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  text-align: left;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  cursor: pointer;
  overflow: auto;
}

.App textarea {
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: 0;
  cursor: text;
}

.App .response:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 500px) {
  .App .response, .App textarea {
    float: left;
    margin: 15px 5%;
    padding: 15px;
    border-radius: 15px;
    width: calc(90% - 30px);
  }

  .App .buttons {
    width: 100%;
  }

  .App button {
    float: left;
    width: 40%;
    margin: 0 5%;
  }
}

.loader {
  margin: calc(35vh - 46px - 60px) auto;
  border: 16px solid #3b5360;
  border-radius: 50%;
  border-top: 16px solid #f3f3f3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}